<div class="container-flex bg-dark border-0 rounded-bottom pb-1">
    <div class="row" style="{ width: 100%; }">
        <div class="col-12">
            <div class='main-header bg-secondary border-0 p-3 text-right'>
                <h3 class='text-dark'>Players Engaged</h3>
                <p class='lead text-dark'>click row for more info</p>
            </div>
        </div>
    </div>
    <div class="row mx-3 mb-1 py-1">
        <div class="text-muted text-left col-3">
            <p>Name</p>
        </div>
        <div class="text-muted text-center col-3">
            <p>K/DBNO</p>
        </div>
        <div class="text-muted text-center col-3">
            <p>Damage Taken</p>
        </div>
        <div class="text-muted text-center col-3">
            <p>Damage Dealt</p>
        </div>
    </div>
    <!-- <hr class='main-divider'> -->
    <div (click)='toggleDetails(enemy)' *ngFor='let enemy of enemiesEngaged' [attr.data-enemy]="enemy" class="row px-3 py-2 engagementRow" #engagementRow >
        <!-- <hr class='item-divider'> -->
        <div class="col-3 text-left m-0">
            <p class='lead player-link' (click)='onPlayerSearch(playerData.data.prevMatch.shard, enemy)'>{{ enemy }} </p>
        </div>
        <div class="col-3 text-center justify-content-center m-0 d-flex">
            <p class='text-danger mr-2' *ngIf='playerData.data.prevMatch.killer !== null && enemy === playerData.data.prevMatch.killer.name'>K</p>
            <p class='text-success mr-2' *ngIf='enemiesKilled.includes(enemy)'>K</p>
            <p class='text-warning mr-2' *ngIf='knocks.includes(enemy)'>DBNO</p>
            <p class='text-danger mr-2' *ngIf='knockers.includes(enemy)'>DBNO</p>
        </div>
        <div class="text-center col-3 m-0">
            <p class='lead'>{{ getTotalDmg(engagementRow, 'received') }} </p>
        </div>
        <div class="text-center col-3 m-0">
            <p class='lead'>{{ getTotalDmg(engagementRow, 'dealt') }} </p>
        </div>
        <div class='col-12 engagement-details'>
            <app-engagement-details [selectedName]='selectedName' [playerData]='playerData'[enemyName]='enemy'></app-engagement-details>       
        </div>
    </div>
</div>
