$small: 575px;
$medium: 875px;
.main-header {
    h3 {
        font-weight: 300;
    }
}
h3 {
    margin: 0;
}
hr {
    background-color: white;
    margin: 0;
    &.main-divider {
        background-color: grey;
    }
    &.item-divider {
        // display: flex;
        // align-self: center;
        width: 80%;
    }
}
.row.engagementRow {
    // color: blue;
    &:nth-of-type(odd) {
        background: rgb(61, 65, 67);
        // color: red;
    }
}
div { 
    margin: 0;
    padding: 0;
}
p {
    font-size: 10pt;
    padding: 0;
    margin: 0;
}
.knocked {

}
.knocker {
    color: grey;
}
.killer {
    // color: red;
}
.kill {

}
.engagement-details {
    @media screen and (min-width:$medium) {
        display: none;
    }
    display: hidden;
}
