<div *ngIf='!hidden' class="container">
<hr class='bg-secondary'>
    <div class="row d-flex">
        <div *ngIf="killData" class='col-12 d-flex justify-content-around border border-success mb-2 p-1 rounded align-items-center'>
            <h3 class='text-success'>Kill!</h3>
            <p><strong class='text-muted'>{{parseWeaponName.default[killData.weapon]}}</strong></p>
            <p><strong class='text-muted'>{{ killData.damageReason }}</strong></p>
            <p><strong class='text-muted'>{{ (killData.distance*.100000).toFixed(1) }}m</strong></p>
        </div>
        <div class='col-12 d-flex justify-content-around border border-danger mb-2 p-1 rounded align-items-center' *ngIf='playerData.data.prevMatch.killer.name === enemyName'>
            <h3 class='text-danger'>Killed Player</h3>
            <p class='text-muted'><strong> {{parseWeaponName.default[playerData.data.prevMatch.killer.weapon]}}</strong></p>
            <p class='text-muted'><strong>{{ playerData.data.prevMatch.killer.damageReason }}</strong></p>
            <p class='text-muted'><strong>{{ (playerData.data.prevMatch.killer.distance * .100000).toFixed(1) }}m</strong></p>
        </div>
        <div *ngIf="knockerData" class='col-12 d-flex justify-content-around border border-danger mb-2 p-1 rounded align-items-center'>
            <h3 class='text-danger'>Knocked</h3>
            <p><strong class='text-muted'>{{parseWeaponName.default[knockerData.weapon]}}</strong></p>
            <p><strong class='text-muted'>{{ knockerData.damageReason }}</strong></p>
            <p><strong class='text-muted'>{{ (knockerData.distance*.100000).toFixed(1) }}m</strong></p>
        </div>
        <div *ngIf="knockData" class='col-12 d-flex justify-content-around border border-warning mb-2 p-1 rounded align-items-center'>
            <h3 class='text-warning'>DBNO</h3>
            <p><strong class='text-muted'>{{parseWeaponName.default[knockData.weapon]}}</strong></p>
            <p><strong class='text-muted'>{{ knockData.damageReason }}</strong></p>
            <p><strong class='text-muted'>{{ (knockData.distance*.100000).toFixed(1) }}m</strong></p>
        </div>
        <div class="col-6">
            <div class='text-center'>
                <h3 class='title'>Player Weapons</h3>
                <p class='text-muted' *ngIf='!playerWeapons.length'>No hits</p>
                <div *ngFor='let weapon of playerWeapons'>
                    <p><strong> {{ parseWeaponName.default[weapon.name] }} </strong><small class='text-muted'> {{ weapon.totalDmg.toFixed(1) }}dmg </small></p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class='text-center'>
                <h3 class='title'> Enemy Weapons </h3>
                <p class='text-muted' *ngIf='!enemyWeapons.length'>No hits</p>
                <div *ngFor='let weapon of enemyWeapons'>
                    <p><strong> {{ parseWeaponName.default[weapon.name] }} </strong><small class='text-muted'> {{ weapon.totalDmg.toFixed(1) }}dmg </small></p>
                </div>
            </div>
        </div>
    </div>
</div>
