<div class='row d-flex justify-content-between bg-secondary border border-0 rounded-top p-3 align-items-center'>
    <div class='col-12 col-sm-6'>
        <h1 class='lead text-dark'>{{ time(playerData.data.prevMatch.matchTime).format('LLL') }}</h1>
        <p class='text-dark '>ID: {{matchId}}</p>
    </div>
    <div class='col-sm-2 col-4'>
        <div class="circle border border-0 bg-dark rounded p-2 d-flex align-items-center justify-content-center">
            <p *ngIf='playerData' class='text-muted text-center'>Map <br /> <strong class='text-muted'>{{ parseMapName.default[playerData.data.prevMatch.map] }}</strong></p>
        </div>
    </div>
    <div class='col-sm-2 col-4'>
        <div class="circle border border-0 bg-dark rounded p-2 d-flex align-items-center justify-content-center">
            <p class='text-muted text-center'>Game Mode <br /> <strong class='text-muted'>{{ playerData.data.prevMatch.gameMode }}</strong></p>
        </div>
    </div>
    <div class='col-sm-2 col-4'>
        <div class="circle border border-0 bg-dark rounded p-2 d-flex align-items-center justify-content-center">
            <p class='text-muted text-center'>Win Position <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.winPlace }}</strong></p>
        </div>
    </div>
</div>
<section class="match-body border border-0 border-secondary rounded-top p-3 lead container-flex">
    <div class="row d-flex justify-content-center">
        <div class='match-item group col-12 flex-row justify-content-around'>
            <p class='section-title'>Accuracy <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.accuracy }}%</strong></p>
            <p class='section-title'>Damage Dealt <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.damageDealt.toFixed(2) }}</strong></p>
            <p class='section-title'>Kills <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.kills }}</strong></p>
            <p class='section-title'>Knockdowns <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.DBNOs }}</strong></p>
            <p class='section-title'>Assists <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.assists }}</strong></p>
        </div>
        <div class='row d-flex justify-content-around'>
            <div class='match-item group' *ngIf='playerData.data.prevMatch.teamMates.length > 0'>
                <div>
                    <p class='section-title'>Teammates </p>
                    <ul>
                        <li *ngFor='let teamMate of playerData.data.prevMatch.teamMates'><strong (click)='onPlayerSearch(playerData.data.prevMatch.shard, teamMate)' class='player-link text-muted'>{{ teamMate }}</strong></li>
                    </ul>
                </div>
                <p *ngIf='playerData.data.prevMatch.gameMode !== "solo"' class="section-title">Revives <br />
                <strong class='text-muted'>{{ playerData.data.prevMatch.matchStats.revives }}</strong></p>
            </div>
            <div class='match-item'>
                <p class='section-title'>Survival Time <br /> <strong class='text-muted'> {{ time.duration(playerData.data.prevMatch.matchStats.timeSurvived, 'seconds').humanize() }} {{ time.duration(playerData.data.prevMatch.matchStats.timeSurvived, 'seconds').seconds() }} seconds</strong></p>
            </div>
            <div class='match-item group'>
                <p class="section-title">Boosts Used <br />
                <strong class='text-muted'>{{ playerData.data.prevMatch.matchStats.boosts }}</strong></p>
                <p class="section-title">Times Healed <br />
                <strong class='text-muted'>{{ playerData.data.prevMatch.matchStats.heals }}</strong></p>
            </div>
        </div>
    </div>
</section>
