                <aside class="match-body col-md-4 lead text-right">
                    <section>
                        <p class='section-title'>Map <br /> <strong class='text-muted'>{{ parseMapName.default[playerData.data.prevMatch.map] }}</strong></p>
                        <p class='section-title'>Game Mode <br /> <strong class='text-muted'>{{ playerData.data.prevMatch.gameMode }}</strong></p>
                        <p class='section-title'>Win Position <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.winPlace }}</strong></p>
                        <p class='section-title'>Survival Time <br /> <strong class='text-muted'> {{ time.duration(playerData.data.prevMatch.matchStats.timeSurvived, 'seconds').humanize() }} {{ time.duration(playerData.data.prevMatch.matchStats.timeSurvived, 'seconds').seconds() }} seconds</strong></p>
                        <p class='section-title'>Accuracy <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.accuracy }}%</strong></p>
                        <p class='section-title'>Kills <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.kills }}</strong></p>
                        <p class='section-title'>Knockdowns <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.DBNOs }}</strong></p>
                        <p class='section-title'>Assists <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.assists }}</strong></p>
                        <p class='section-title'>Damage Dealt <br /> <strong class='text-muted'> {{ playerData.data.prevMatch.matchStats.damageDealt.toFixed(2) }}</strong></p>
                        <p class="section-title">Boosts Used <br />
                        <strong class='text-muted'>{{ playerData.data.prevMatch.matchStats.boosts }}</strong></p>
                        <p class="section-title">Times Healed <br />
                        <strong class='text-muted'>{{ playerData.data.prevMatch.matchStats.heals }}</strong></p>
                        <p *ngIf='playerData.data.prevMatch.gameMode !== "solo"' class="section-title">Revives <br />
                        <strong class='text-muted'>{{ playerData.data.prevMatch.matchStats.revives }}</strong></p>
                    </section>
                </aside>
