<div class='main d-flex justify-content-center flex-wrap container-flex'>
    <div class='header-wrapper fixed-top'>
        <app-header>
            <app-search-form (playerSearch)='onPlayerStartSearch($event)'></app-search-form>
        </app-header>
    </div>
    <div class="body container-flex pt-3 mb-3">
        <div class="row">
            <div class="col-md-8 col-sm-6 mx-auto p-0">
                <p class='text-light font-weight-light font-italic text-center mt-3 mx-auto' *ngIf='!playerData'> Enter a Player ID and Platform above</p>
                <div *ngIf='playerData' class='mx-auto'>
                    <app-player-page (matchSearch)='onMatchStartSearch($event)' (playerSearch)='onPlayerStartSearch($event)' [playerData]='playerData'></app-player-page>
                </div>
            </div>
        </div>
    </div>
    <div class='footer align-self-end'>
        <footer class='bg-dark d-flex align-items-center justify-content-between'> 
                <p class='text-light mx-3'>&#169; 2019 ChickenDiner</p><a class='text-light' href="mailto:{{email}}">email me</a>
            <p class='text-light mx-3 text-right font-italic'>.under construction.</p>

        </footer>        
    </div>
</div>
