<div class='main-bg-wrapper' [ngClass]='{"sanhok": playerData && playerData.prevMatch.map === "Savage_Main", "miramar": playerData && playerData.prevMatch.map === "Desert_Main", "erangel": playerData && playerData.prevMatch.map === "Erangel_Main", "vikendi": playerData && playerData.prevMatch.map === "DihorOtok_Main"}'>
    <div class='main d-flex justify-content-center flex-wrap container-flex'>
        <div class='header-wrapper fixed-top'>
            <app-header>
                <app-search-form></app-search-form>
            </app-header>
        </div>
        <div class="body container-flex pt-3 mb-3">
            <div class="row">
                <div class="col-sm-8 col-lg-6 mx-auto p-0">
                    <div *ngIf='playerData' class='mx-auto player-page'>
                        <app-player-page (linkClick)='routeLink($event)' [matchId]='matchId' [selectedLink]='selectedPage' (matchSearch)='onMatchStartSearch($event)' (playerSearch)='onPlayerStartSearch($event)' [playerData]='playerData'></app-player-page>
                    </div>
                </div>
            </div>
        </div>
        <h6 class='text-light font-weight-light font-italic text-center mx-auto' *ngIf='!playerData && !loading'> Enter a Player ID and Platform above</h6>
        <h6 class='text-light font-weight-light text-center mx-auto' *ngIf='loading && !playerData'>Looking for player...</h6>
        <div class='footer align-self-end'>
            <footer class='bg-dark d-flex align-items-center justify-content-between'> 
                <p class='text-light mx-3'>&#169; 2019 ChickenDiner</p><a class='text-light' href="mailto:{{email}}">email me</a>
                <p class='text-light mx-3 text-right font-italic'>.under construction.</p>
            </footer>        
        </div>
    </div>
</div>
