$small: 575px;
$medium: 875px;
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
.main {
    min-height: 100vh;
    // background: rgba(53,58,63, 0.90);
    background: linear-gradient(rgba(53,58,63, 0.75), rgba(43,48,53, 1));
}
.main-bg-wrapper {
    background-image: url("../assets/images/Camp_Jackal_Main_No_Text_Low_Res.jpg");
    &.miramar {
        background-image: url("../assets/images/Miramar_Main_No_Text_Low_Res.jpg");
    }
    &.sanhok {
        background-image: url("../assets/images/Sanhok_Main_No_Text_Low_Res.jpg");
    }
    &.erangel {
        background-image: url("../assets/images/Erangel_Main_No_Text_Low_Res.jpg");
    }
    &.vikendi {
        background-image: url("../assets/images/Vikendi_Main_No_Text_Low_Res.png");
    }
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
// .header {
//     width: 100%;
// }
.row{
    width: 100%;
    padding: 0;
    margin: 0;
}
.header-wrapper {
    width: 100%;
}
.body {
    margin: 0;
    margin-top: 145px;
    @media(min-width: $small) {
        margin-top: 100px;
    }
    @media(min-width:$medium) {
        margin-top: 55px;
    }
    width: 100%;
}
p {
    margin: 0;
    font-size: 9pt;
}
li {
    margin: 0;
}
.footer{
    position: relative;
    // bottom: 0;
    margin: 0;
    // clear: both;
    width: 100%;
    footer {
        height: 25px;
        margin-top:-25px;
        p, a {
            font-size:8pt;
            font-weight: 200;
        }
    }
}
