<div *ngIf='playerData' class="jumbotron bg-secondary">
    <div class="d-flex flex-column flex-sm-row player-title">
        <h3 class='display-4 mr-5'>{{ playerData.PlayerName }}</h3>
        <aside>
            <!-- <h5 class='mb-0'>Recent Stats</h5> -->
            <p class='lead'>out of {{playerData.TotalMatchesPlayed}} recent matches<p>
            <!-- <hr> -->
            <p>Solo K/D: {{ playerData.generalStats.soloKD }}</p>
            <p>Duos K/D: {{ playerData.generalStats.duoKD }}</p>
            <p>Squad K/D: {{ playerData.generalStats.squadKD }}</p>
        </aside>
    </div>
    <hr>
    <div class='row'>
        <section class='col-sm-6 d-flex justify-content-center align-items-start mb-5'>
            <div class='match-stats bg-dark text-light card'>
                <div class='card-header'>
                    <h1 class='display-4 text-muted'>Previous Match</h1>
                    <h6 class='lead'>{{ time(playerData.prevMatch.matchTime).format('LLL') }}</h6>
                </div>
                <div class="card-body m-3">
                    <p>Map: <strong class='text-muted'>{{ playerData.prevMatch.map }}</strong></p>
                    <p>Game Mode: <strong class='text-muted'>{{ playerData.prevMatch.gameMode }}</strong></p>
                    <p>Win Position:<strong class='text-muted'> {{ playerData.prevMatch.matchStats.winPlace }}</strong></p>
                    <p>Survival Time:<strong class='text-muted'> {{ time.duration(playerData.prevMatch.matchStats.timeSurvived, 'seconds').humanize() }} {{ time.duration(playerData.prevMatch.matchStats.timeSurvived, 'seconds').seconds() }} seconds</strong></p>
                    <p>Accuracy:<strong class='text-muted'> {{ playerData.prevMatch.accuracy }}%</strong></p>
                    <p>Kills:<strong class='text-muted'> {{ playerData.prevMatch.matchStats.kills }}</strong></p>
                    <p>Knockdowns:<strong class='text-muted'> {{ playerData.prevMatch.matchStats.DBNOs }}</strong></p>
                    <p>Assists:<strong class='text-muted'> {{ playerData.prevMatch.matchStats.assists }}</strong></p>
                    <p>Damage Dealt:<strong class='text-muted'> {{ playerData.prevMatch.matchStats.damageDealt.toFixed(2) }}</strong></p>
                </div>
                <section *ngIf='playerData.prevMatch.teamMates.length > 0'>
                    <p>Teammates: </p>
                    <ul>
                        <li *ngFor='let teamMate of playerData.prevMatch.teamMates'><strong (click)='onPlayerSearch(playerData.prevMatch.shard, teamMate)' class='player-link text-primary'>{{ teamMate }}</strong></li>
                    </ul>
                </section>
                <section *ngIf='playerData.prevMatch.sortedHits.length > 0'>
                    <p>Enemies Hit: </p>
                    <ul>
                        <li *ngFor='let hit of playerData.prevMatch.sortedHits'><p (click)='onPlayerSearch(playerData.prevMatch.shard, hit.victim.name)' class='player-link'><strong class='text-muted'>{{ hit.victim.name }}</strong> - Team ID: {{ hit.victim.teamId }}</p> <p *ngFor='let weapon of hit.weapons'>{{weapon.name}} - {{weapon.totalDmg.toFixed(2)}}</p></li>
                    </ul>
                </section>
                <section *ngIf='playerData.prevMatch.sortedKnocks.length > 0'>
                    <p>Enemies Knocked: </p>
                    <ul>
                        <li *ngFor='let hit of playerData.prevMatch.sortedKnocks'><p (click)='onPlayerSearch(playerData.prevMatch.shard, hit.victim.name)' class='player-link'><strong class='text-warning'>{{ hit.victim.name }}</strong> - Team ID: {{ hit.victim.teamId }}</p><p> {{ hit.weapon }} - {{ hit.damageReason }}</p><p>Distance: {{hit.distance.toFixed(2)}}</p></li>
                    </ul>
                </section>
                <section *ngIf='playerData.prevMatch.sortedKills.length > 0'>
                    <p>Enemies Killed: </p>
                    <ul>
                        <li *ngFor='let hit of playerData.prevMatch.sortedKills'><p (click)='onPlayerSearch(playerData.prevMatch.shard, hit.victim.name)' class='player-link'><strong class='text-success'>{{ hit.victim.name }}</strong> - Team ID: {{ hit.victim.teamId }} </p><p> {{ hit.weapon }} - {{ hit.damageReason }}</p><p>Distance: {{hit.distance.toFixed(2)}}</p></li>
                    </ul>
                </section>
                <section *ngIf='playerData.prevMatch.sortedAttackers.length > 0'>
                    <p> Hit You: </p>
                    <ul>
                        <li *ngFor='let hit of playerData.prevMatch.sortedAttackers'><p (click)='onPlayerSearch(playerData.prevMatch.shard, hit.attacker.name)' class='player-link'><strong class='text-muted'>{{ hit.attacker.name }}</strong> - Team ID: {{ hit.attacker.teamId }}</p><p *ngFor='let weapon of hit.weapons'>{{weapon.name}} - {{weapon.totalDmg.toFixed(2)}}</p></li>
                    </ul>
                </section>
                <section *ngIf='playerData.prevMatch.sortedKnocker.length > 0'>
                    <p> Knocked You: </p>
                    <ul>
                        <li *ngFor='let hit of playerData.prevMatch.sortedKnocker'><p (click)='onPlayerSearch(playerData.prevMatch.shard, hit.name)' class='player-link'><strong class='text-danger'> {{ hit.name }}</strong> - Team ID: {{ hit.teamId }}</p><p> {{ hit.weapon }} - {{ hit.damageReason }} </p><p> Distance: {{ hit.distance.toFixed(2) }}</p></li>
                    </ul>
                </section>
                <section *ngIf='playerData.prevMatch.killer'>
                    <p> Killed You: </p>
                    <ul>
                        <li>
                            <p (click)='onPlayerSearch(playerData.prevMatch.shard, playerData.prevMatch.killer.name)' class='player-link'><strong class='text-danger'>{{ playerData.prevMatch.killer.name }}</strong> - {{ playerData.prevMatch.killer.teamId }}</p><p>{{playerData.prevMatch.killer.weapon}} - {{playerData.prevMatch.killer.damageReason}}</p>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
        <section class='player-stats col-sm-6 d-flex justify-content-center'>
            <div class='recent-matches card bg-secondary'>
                <div class="card-header">
                    <h5 class='card-title display-4'>Recent Matches</h5>
                </div>
                <section>
                    <div class='card-text' *ngFor='let match of playerData.prevMatchList'>
                        <span class='player-link' (click)='onMatchSearch(match.attributes.shardId, playerData.PlayerName, match.id )'>
                            <strong>{{ time(match.attributes.createdAt).format('LLL') }}</strong>
                            <p class='font-italic'>{{ match.attributes.mapName }} - {{ match.attributes.gameMode }}</p>
                            <p class='font-italic'>K: {{ match.stats.kills }} - P: {{ match.stats.winPlace }} </p>
                        </span>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
