section {
    // padding: 1em;
}
.row {
    width: 100%;
    margin: 0;
}
h1, h2 {
    margin: 0;
}
.title {
    font-weight: 300;
}
.match-details .section-title {
    margin-bottom: 5px;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: underline;
}
p {
    margin: 0;
    font-size: 10pt;
}
strong {
    font-size: 10pt;
    font-weight: 600;
}
ul {
    padding-left: 0;
    padding-bottom: 0;
}
li {
    margin: 0;
    list-style: none;
}
.player-header {
    &.miramar {
        background-image: linear-gradient(to right, rgba(0,0,0, 0.8), rgba(0,0,0, 0.4)), url("../../assets/images/miramar-bg-01.png");
    }
    &.sanhok {
        background-image: linear-gradient(to right, rgba(0,0,0, 0.8), rgba(0,0,0, 0.4)), url("../../assets/images/sanhok-bg-01.png");
    }
    &.erangel {
        background-image: linear-gradient(to right, rgba(0,0,0, 0.8), rgba(0,0,0, 0.4)), url("../../assets/images/miramar-bg-01.png");
    }
    &.vikendi {
        background-image: linear-gradient(to right, rgba(0,0,0, 0.8), rgba(0,0,0, 0.4)), url("../../assets/images/vikendi-bg-01.png");
    }
    background-size: cover;
    background-position: bottom;
}
.match-header {
    
}
.player-link {
    cursor: pointer;
    :hover {
        color: white;
    }
}
.match-stats {
    width: 100%;
}
.recent-matches {
    
}
.bg-dark {
    // background-color: red;
}

