section {
    padding: 1em;
}
p {
    margin: 0;
    font-size: 11pt;
}
strong {
    font-size: 11pt;
}
ul {
    padding-bottom: 0;
}
li {
    margin: 0;
}
.player-link {
    cursor: pointer;
}
.match-stats {

}
.recent-matches {
    
}

